
/******************************************************************************
 * Set up the page (Letter, landscape orientation) and margins.
 ******************************************************************************/

@media print{
	@page {
		size: letter landscape;
	}
}

body {
	width: 11in;
	padding: 0.2in;
}

.outer-row {
	margin-left: -0.1in;
	margin-right: -0.1in;
}

.doc-col {
	padding-left: 0.1in;
	padding-right: 0.1in;
	margin-top: -0.2in;
	margin-bottom: -0.2in;
}

.doc-col > * {
	width: 100%;
	margin-top: 0.2in;
	margin-bottom:0.2in;
}

/******************************************************************************
 * Default fonts
 ******************************************************************************/

// Some sane defaults to make headings usable
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }

body {
	font-family: Helvetica;
	font-size: 10pt;
}

/******************************************************************************
 * Colors
 ******************************************************************************/

 $color-lighting: rgb(114, 164, 145);
 $color-sound: rgb(99,121,165);
 $color-other: rgb(127,127,127);
 $color-fees: rgb(127,127,127);

.section-lighting .card-header, .section-lighting .option-singleton .option-head {
	background-color: $color-lighting;
}

.section-lighting .section-header, .section-lighting.section-header {
	color: $color-lighting;
}

.section-sound .card-header, .section-sound .option-singleton .option-head {
	background-color: $color-sound;
}

.section-sound .section-header, .section-sound.section-header {
	color: $color-sound;
}

.section-other .card-header, .section-other .option-singleton .option-head {
	background-color: $color-other;
}

.section-other .section-header, .section-other.section-header {
	color: $color-other;
}

.section-fees .card-header, .section-fees .option-singleton .option-head {
	background-color: $color-fees;
}

.section-fees .section-header, .section-fees.section-header {
	color: $color-fees;
}

// Fix background colors overflowing the rounded corners of cards
.card {
	overflow: hidden;
}

/******************************************************************************
 * Everything else
 ******************************************************************************/

.section-header {
	font-size: 22pt;
	font-weight: bold;
	line-height: 0.9;
	text-align: center;
	display: flex;
	justify-content: space-around;
	margin-bottom: 0.1in;
}

.page-header {
	text-align: center;
	line-height: 0.9;
	margin-bottom: 0.2in;
}

.contactinfo > * {
	margin-left: 0.1in;
}

.contactinfo > img {
	height: 0.7in;
}

.card, .card-header, .list-group-item {
	border-color: black;
}

.card-header, .option-singleton .option-head {
	font-weight: bold;
	color: white;
}

.card-title {
	font-size: 14pt;
	margin-bottom: 0;
}

.card-description {
	font-weight: normal;
	font-size: 11pt;
}

.card-body {
	padding: 0.1in;
}

.option {
	display: flex;
	justify-content: space-around;
	padding: 0.1in;
}

.option-head {
	font-size: 12pt;
	font-weight: bold;
	text-align: center;
	flex-basis: 24%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-right: 0.1in;
}

.option-description {
	font-size: 10pt;
	flex-basis: 36%;
}

.option-noimg .option-description {
	flex-basis: 76%;
}

.option-img {
	width: 40%;
	height: 100%;
	object-fit: contain;
	padding-left: 0.1in;
}

.option-singleton {
	padding: 0;
}

.option-singleton .option-head {
	padding: 0.1in;
}

.option-singleton .option-description {
	padding: 0.1in;
}

.option-singleton .option-img {
	padding: 0.1in 0.1in 0.1in 0;
}

.note {
	font-size: 12pt;
	text-align: center;
}

.fineprint {
	font-size: 10pt;
	text-align: justify;
}

.contactinfo {
	position: absolute;
	bottom: 0.2in;
	right: 0.2in;
	display: flex;
	align-items: center;
}

.version-info {
	font-size: 0.5rem;
	position: absolute;
	bottom: 0.2in;
	left: 0.2in;
	display: flex;
	align-items: center;
}

.version-info-verbose {
	font-family: monospace;
	position: absolute;
	transform: rotate(-90deg);
	transform-origin: top left;
	left: 5.4in;
	bottom: 2in;
}
